* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

/* ========== MENU ========== */

.header {
  background-color: #393f4d;

  grid-row: 1 / 2;
  grid-column: 1 / 3;
  
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.header .logo {
   justify-self: start;
   align-self: center;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu {
  align-content: center;
}

.menu ul {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* ========== SIDE BAR ========== */

.sidebar {
  background-color: #C50208;

  grid-row: 2 / 4;
  grid-column: 1 / 2;

  display: grid;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;

  display: grid;
  place-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;

  display: grid;
  place-content: center;
}

/* ========== NAV BAR ========== */

.nav {
  background-color: #C50208;

  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-content: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* ========== ARTICLE ========== */

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

/* ========== FOOTER ========== */

.footer {
  background-color: #393f4d;

  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}